[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "==6.2.0"
gunicorn = "*"
dj-database-url = "*"
django-storages = {extras = ["dropbox"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
