{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Мои заказы
{% endblock %}
{% block content %}
<h1 style="padding-left: 100px">Мои заказы:</h1>
<div class="my_orders">
    <div class="table-order">
        <table class="my_orders-table">
            <tr>
                <th>Дата заказа</th>
                <th>Номер заказа</th>
                <th>Статус</th>
                <th>Оплачен</th>
                <th>Стоимость</th>
                <th>Детали</th>
            </tr>

           {% for order in orders %}
                <tr>
                    <td> {{order.created}} </td>
                    <td> {{order.id}} </td>
                    <td> {{order.status}} </td>
                    <td> {% if order.paid == False %} нет {% else %} да {% endif %} </td>
                    <td> {{order.get_total_cost}} руб. </td>
                    <td><a style="color: deepskyblue" href="{{ order.get_absolute_url }}">Подробности заказа</a> </td>
                </tr>
            {% endfor  %}
       </table>
    </div>

    <div class="pagination-orders">
         {% if paginator.num_pages > 1 %}
            <ul class="step-links">
                {% if page_obj.has_previous %}
                    {% if 'ordering' in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page=1"> << </a></li>
                        <li><a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}"> < </a></li>
                    {% else %}
                        <li><a href="?page=1"> << </a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"> < </a></li>
                    {% endif %}
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if 'ordering'  in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    {% if 'ordering' in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}"> > </a></li>
                        <li><a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}"> >> </a></li>
                    {% else %}
                        <li><a href="?page={{ page_obj.next_page_number }}"> > </a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}"> >> </a></li>
                    {% endif %}
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ paginator.num_pages }}
                </span>
            </ul>
         {% endif %}
    </div>
</div>
{% endblock %}