{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Вход в аккаунт
{% endblock %}
{% block content %}
<h1 style="padding-left: 100px">Вход в личный кабинет:</h1>
<div class="login">
    <div class="login_form">
            <form class="form" action="" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button class="button-login">Войти</button>
        </form>
        <p style="padding-top: 20px"><a style="color: deepskyblue" href="{% url 'accounts:registration' %}">Хочу зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}