{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<h1 style="padding-left: 100px">Оформление:</h1>
<div class="order-create">
    <div class="order-info">
        <h3>Ваш заказ:</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} руб.</span>
                </li>
            {% endfor %}
        </ul>
        <p style="font-size: 18px; margin:20px"><strong>Общая сумма: {{ cart.get_total_price }} руб.</strong></p>
    </div>

    <div class="order-form">
        <p><strong>Покупатель: {{request.user.first_name}} {{request.user.last_name}}</strong></p>
        <p>Введите свои данные:</p>
        <form action="" method="post">
            <table class="form-order"  style="text-align: left">
            {{ form }}
            </table>
            <input class="button" style="width: 250px" type="submit" value="Подтвердить заказ">
            {% csrf_token %}
        </form>
        <p style="color: grey; font-size: 14px;">Поля помеченные * обязательные для заполнения</p>
    </div>
</div>

{% endblock %}

