@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: silver;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    /*line-height: 30px;*/
}
h2{
    text-align: center;
}

.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.25);
}

.info{
    display: flex;
    margin-bottom: 20px;
}

.info-text{
    margin: 0 50px;
    font-style: normal;
    line-height: 35px
}

.info p{
    margin: 0;
    font-style: italic;
    /*letter-spacing: 5px;*/
    /*word-spacing: 42px;*/
}

.container{
    margin: auto;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box-model > div{
    float: left;
    height: 200px;
    background: #2c2c2c;
    border: 4px solid red;
    width: 33%;
    box-sizing: border-box;
}

.bg-yellow{
    background: #fff9dc;
}

.bg-green{
    background: #e5f9e7;
}

.bg-red{
    background: #ffe5e5;
}

.bg-blue{
    background: #d6f3ff;
}

.card{
    padding: 15px;
    margin: 15px;
    border-radius: 28px;
}

/*.card p{*/
/*    padding-left: 5px;*/
/*    padding-right: 5px;*/
/*}*/

.table-o{
    width: 70%;
    /*border: 2px solid #2c2c2c;*/
}

.table-s{
    width: 70%;
    /*border: 2px solid #2c2c2c;*/
}

.table-o td{
    padding-bottom: 10px;
}
.table-s td{
    /*padding-bottom: 10px;*/
}


/*цифра означает колонку в таблицу*/
.table-s td:nth-child(1){
    /*margin-bottom: 25px;*/
    color:dimgrey;
    /*border: 2px solid red;*/
    top: 0;
}

.table-o td:nth-child(1){
    /*margin-bottom: 25px;*/
    color:dimgrey;
    /*border: 2px solid red;*/
    top: 0;
}

/*!*полосатая таблица odd - четные, even - нечетные*!*/
/*.table tr:nth-child(even){*/
/*    background: #c5c3ff;*/
/*}*/

